<br>
<h3 style="text-align: center"><strong>What's Happening Around the League</strong></h3>
<div class="contain">
    {{#each entry}}
    <br>
        <article class="card" style="width: 100%; align-content: center;">
            <div class="note" id="{{_id}}">
                <h3 style="text-align:center;">{{title}}</h3>
                <h6 style="text-align:center;">{{date}}</h6>
                <p style="text-align:center;">{{summary}}</p>
                <a href="/addNoteForm/{{_id}}" class="btn btn-warning btn-large" >Add Note</a>
                <a href="{{link}}" class="btn btn-primary btn-large">Link</a>
            </div>

        </article>
        
    {{/each}}
</div>